body {
    padding-top: 5rem;
}

.contactinfo > p{
    font-weight: 600;
}

.contactinfo h1{
    border-bottom: 1.5px solid #808090;
    padding: 10px 0;
}

/*form layout*/
.form-field{
    height: 100%;
    width: 100%;
    padding: 15px 0;
    display: block;
    line-height: 15px;
}

span{
    color: #ff0000;
    font-weight: bold;
}

.form-field label{
    font-weight: 650;
}

.form-field input{
    padding: 1px;
    border-radius: 2.5px;
    width: 25%;
}

.form-field > textarea{
    width: 35%;
    border-radius: 2.5px;
    min-height: 5rem;
}

button {
  background-color: rgb(13, 134, 204);
  color: white;
  margin: 8px 0;
  width: 10%;
  border-radius: 5px;
  min-height: 40px;
}